@font-face {
    font-family: "Torus Regular";
    src: url(Images-&-Fonts/Torus-Regular.otf);
}

@font-face {
    font-family: "Playfair Display";
    src: url(Images-&-Fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Work Sans";
    src: url(Images-&-Fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Tsukimi Rounded";
    src: url(Images-&-Fonts/TsukimiRounded-Bold.ttf);
}

html, body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.bg-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bg-content > * {
    margin: 0;
    padding: 0;
}

/* Header */

.heading {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(165, 212, 253);
    font-family: "Torus Regular";
    column-gap: 5vw;
    overflow: hidden;
    z-index: 1;
}

.logo img {
    border-radius: 40px; 
    padding: 10px;
    width: 200px; 
    height: auto;  
}

.button-container {
    display: flex;
    gap: 0;
    align-items: center;
    flex-wrap: wrap;
}

.button-container a {
    text-decoration: none;
    align-items: center;
}

.buttons {
    font-family: "Torus Regular";
    color: black;
    font-weight: bold;
    transition: 0.3s;
    white-space: nowrap;
}

.book-button {
    display: inline-block;
    background-color: rgb(98, 155, 205);
    font-family: "Torus Regular";
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 10px;
    color: black;
    transition: 0.2s;
    white-space: nowrap;
    text-decoration: none;
}

.book-button:hover {
    background-color: rgb(43, 43, 43);
    color: white;
}

.buttons:hover {
    transform: scale(0.95);
    color: rgb(0, 38, 255);
    text-shadow: -2px 2px 4px rgb(130, 135, 189);
    opacity: 0.8;
}

.buttons, .book-button {
    margin-inline: clamp(5px, 3.1vw, 90px);
    font-size: clamp(10px, 1.5vw, 20px);
}

.empty-space {
    margin-top: 120px;
}

/* Styling the content of the services page */

#our-services {
    font-family: "Playfair Display";
    margin-top: 20px;  
}

.services-card-wrapper {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.services-card-wrapper a {
    text-decoration: none;
}

.service-card {
  display: flex;
  flex-direction: column; /* Sets the image to be on TOP of the text */
  width: 320px;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: -1px 2px 10px rgb(150, 150, 150);
  transition: 0.2s;
}

.servicecard-img img {
  width: 80px;
  height: 80px;
  border: rgb(21, 51, 78);
  background-color: white;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
}

.servicecard-text h2 {
  font-family: "Torus Regular";
  font-size: 20px;
  margin-top: 20px;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(165, 212, 253);
    width: 100%;
    height: auto;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    gap: 40px;
}

.footer-wrapper > * {
    font-family: "Torus Regular";
}

.footer-contact, .footer-quick {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-contact ul {
    list-style-type: none;
    padding-left: 0;
}

#footer-number {
    background-image: url("Images-&-Fonts/phone-call.png");
    background-size: 20px 20px;
    padding-left: 30px;
    background-repeat: no-repeat;
}

#footer-email {
    background-image: url("Images-&-Fonts/email.png");
    background-size: 20px 20px;
    padding-left: 30px;
    background-repeat: no-repeat; 
}

#footer-location {
    background-image: url("Images-&-Fonts/pin.png");
    background-size: 20px 20px;
    padding-left: 30px;
    background-repeat: no-repeat;  
}

.footer-quick ul, a {
    text-decoration: none;
}

.copyright-footer {
    background-color: rgb(108, 174, 232);
    width: 100%;
    text-align: center;
}

#copyright {
    font-family: "Torus Regular";
}
